{% extends 'base.html.twig' %}

{% block title %}Catégorie
{% endblock %}

{% block body %}
	{% for program in programs %}
		<div>
			<h2>{{ loop.index }}
				/
				{{ program.title }}
				- Catégorie :
				{{ program.category.name }}</h2>
			<p>{{ program.synopsis }}</p>
			{# Lien vers la fiche de la série : #}
			<a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }}</a>

		</div>

	{% endfor %}

	<a href="{{ path('category_index') }}">
		Retour à la liste des catégories
	</a>

{% endblock %}
