{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{% block body %}
	{% for program in programs %}
		<div>
			<h2>{{ loop.index }}
				/
				{{ program.title }}
				- Catégorie :
				{{ program.category.name }}</h2>
			<p>{{ program.synopsis }}</p>
			{# Lien vers la fiche de la série : #}
			<a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>

		</div>

	{% endfor %}
	<a href="{{ path('program_new') }}">
		Ajouter un programme
	</a>
{% endblock %}
