{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h2 class="mt-0">Saison
				{{ season.number }}</h2>
			<h3>{{ season.year }}</h3>
			<h4>{{ season.description }}</h4>
		</div>

		<div class="media">
			<h1>Liste des épisodes</h1>
			{% for episode in season.episodes %}
				<h3>{{episode.number}}</h3>
				<p>{{episode.synopsis}}</p>
			{% endfor %}
		</div>
	</div>

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}
